:root{
    
}

.cancion{
    border: 1px;
    float: left;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.8);
    box-shadow: 4px 4px 20px 0px#000000cc;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}
#titulo{
    background-color: #8bc34a;
    color: white;
    padding: 20px;
    text-align: center;
}
.titulo-cancion{
    text-align: center;
    position: relative;
    top: 100px;
    background-color: white;
    color: #8bc34a;
    padding: 10px;
    font-size: 20pt;
    text-transform: uppercase;
}
.imagen-cancion{
    display: block;
    margin: 20px;
    border-radius: 10px;
}
.boton-play-pause{
    display: inline-block;
    position: relative;
    left: 35%;
    text-decoration: none;
    color: white;
    background-color: #8bc34a;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}
.artista{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    
}
#footer{
    clear: both;
    margin: center;
    font-weight: bold;
    border: solid 2px black;
}